# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/InventoryManagementSystem-SA/build/
/InventoryManagementSystem-SB/build/
/InventoryManagementSystem-SA/nbproject/private/
/InventoryManagementSystem-SB/nbproject/private/
/Abstraccion-SA/nbproject/private/
/Encapsulamiento-SA_1/nbproject/private/
/Encapsulamiento-SA_1/build/
/Abstraccion-SB/nbproject/private/
/Abstraccion-SB/build/
/Encapsulamiento-SB/nbproject/private/
/Encapsulamiento-SA/nbproject/private/
/Encapsulamiento-SA/build/
/Herencia-SA/nbproject/private/
/Herencia-SA/build/
/Herencia-SA/dist/
/Herencia-SB/nbproject/private/
/Herencia-SB/build/
/Herencia-SB/dist/
/Polimorfismo-SA/nbproject/private/
/Polimorfismo-SA/build/
/Polimorfismo-SB/nbproject/private/
/Polimorfismo-SB/build/
/CRUDExample/nbproject/private/
/2024-CRUDExample-SA/nbproject/private/
/CRUDExample/dist/
/CRUDExample/build/
/CRUDExample_SA/nbproject/private/
/CRUDExample_SB/nbproject/private/
/2024-CRUDExample_SA_1/nbproject/private/
/2024-CRUD-SA/nbproject/private/
/2024-CRUD-SB/nbproject/private/
/2024-CRUD-SA/dist/
/2024-CRUD-SA/build/
/2024-CRUD-SB/build/
/2024-EstructurasDinamicas-SA/nbproject/private/
/2024-EstructurasDinamicas-SA/build/
/2024-EstructurasDinamicas-SB/nbproject/private/
/2024-EstructurasDinamicas-SB/build/
/PilasYColas/nbproject/private/
/PilasColas/nbproject/private/
/PilasColas/build/
/2024-PilasColas-SA/nbproject/private/
/2024-PilasColas-SB/nbproject/private/
/2024-PilasColas-SA/build/
/EjercicioSA/nbproject/private/
/EjercicioSA/build/
/2024-PilasColas-SB/build/
/2025/Clase01-SeccionB-Abstraccion/nbproject/private/
/2024/2024-Herencia-SA/nbproject/private/
/2025/Clase01-SeccionA-Abstraccion/nbproject/private/
/2025/Clase01-SeccionA-Abstraccion/build/
/2025/Clase01-SeccionB-Abstraccion/build/
